* {
    margin: 0 auto;
}

.promo {
    min-width: 100%;
    min-height: 100%;
    width: 1440px;
    height: 700px;
    background: url(promo.png) no-repeat;
}

.header {
    display: flex;
    align-items: center;
    height: 115px;
}

.header a {
    text-decoration: none;
    font-size: 19px;
    font-family: MontserratBold;
    color: #fff;
    letter-spacing: 1.5px;
    position: relative;
    right: 35px;
}

.login-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-box a {
    font-size: 13px;
}

.log_in {
    position: relative;
    bottom: 2px;
    left: 22px;
}

.sign_up {
    position: relative;
    left: 37px;
    bottom: 2px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 14px 10px 14px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 585px;
}

.intro h1 {
    text-align: center;
    font-family: MontserratBold;
    font-size: 51px;
    position: relative;
    top: 33px;
    color: white;
    letter-spacing: 0.5px;
}

.intro h3 {
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    position: relative;
    bottom: 71px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 500;
}

.intro a {
    text-decoration: none;
    font-family: MontserratRegular;
    color: white;
    font-size: 13px;
    font-weight: 1000;
    letter-spacing: 0.8px;
    position: relative;
    bottom: 169px;
    padding: 11px 20px;
    border-radius: 20px;
    background: #ff4e50;
}

.body {
    width: 940px;
    margin-top: 0;
    margin-left: 250px;
}

.Howitworks {
    height: 600px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.Howitworks h3 {
    font-family: MontserratBold;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    padding-top: 95px;
    color: #333333;
    margin-bottom: 36px;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.step {
    width: 300px;
    height: 400px;
    margin: 0;
}

.step1 {
    background: url(step1.png) no-repeat;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.step1 span {
    background: #ff4e50;
    padding: 5px 12px;
    border-radius: 15px;
    font-family: MontserratRegular;
    font-size: 8px;
    letter-spacing: 3px;
    position: relative;
    bottom: 31px;
    right: 93px;
}

.step1 h3 {
    margin: 0;
    padding: 0;
    position: relative;
    left: 4px;
    font-size: 23px;
    bottom: 14px;
    color: white;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.step1 p {
    font-family: Roboto;
    font-size: 14px;
    position: relative;
    left: 3px;
    opacity: 0.5;
}

.step2 {
    background: url(step2.png) no-repeat;
    padding: 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    text-align: left;
}

.step2 h3 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 23px;
    position: relative;
    right: 1px;
    bottom: 8px;
    letter-spacing: 0.5px;
}

.step2 span {
    background: #ff4e50;
    padding: 5px 12px;
    border-radius: 15px;
    font-family: MontserratRegular;
    font-size: 8px;
    letter-spacing: 3px;
    position: relative;
    bottom: 25px;
    right: 94px;
}

.step2 p {
    font-family: Roboto;
    font-size: 14px;
    position: relative;
    left: 0px;
    top: 3px;
    opacity: 0.5;
}

.step3 {
    background: url(step3.png) no-repeat;
    padding: 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    text-align: left;
}

.step3 h3 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 23px;
    position: relative;
    right: 1px;
    bottom: 11px;
    letter-spacing: 0.5px;
}

.step3 span {
    background: #ff4e50;
    padding: 5px 12px;
    border-radius: 15px;
    font-family: MontserratRegular;
    font-size: 8px;
    letter-spacing: 3px;
    position: relative;
    bottom: 25px;
    right: 94px;
}

.step3 p {
    font-family: Roboto;
    font-size: 14px;
    position: relative;
    left: 0px;
    top: 3px;
    opacity: 0.5;
}

.partners {
    height: 500px;
    text-align: center;
}

.partners h3 {
    font-family: MontserratBold;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: 51px;
    margin-bottom: 83px;
    color: #333333;
}

.partners a {
    letter-spacing: 0.5px;
    font-family: MontserratBold;
    font-size: 13px;
    text-decoration: none;
    color: #ff4e50;
    position: relative;
    top: 71px;
    border: 2px solid #ff4e50;
    padding: 8px 27px 10px;
    border-radius: 20px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.photo h5 {
    font-family: MontserratBold;
    font-size: 14px;
    position: relative;
    top: 12px;
}

.photo p {
    font-family: Roboto;
    font-size: 14px;
    position: relative;
    top: 28px;
    right: 2px;
    opacity: 0.5;
}

.photo4 {
    position: relative;
    right: 2px;
}

.photo3 {
    position: relative;
    left: 5px;
}

.photo2 {
    position: relative;
    right: 1px;
}

.photo1 {
    position: relative;
    left: 3px;
}

.ideas {
    height: 1050px;
    box-sizing: border-box;
}

.idea {
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pic1 {
    background: url(ideas1.png) no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 310px;
}

.pic2 {
    background: url(ideas2.png) no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 310px;
}

.pic3 {
    background: url(ideas3.png) no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 310px;
}

.pic4 {
    background: url(ideas4.png) no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 310px;
}

.pic5 {
    background: url(ideas5.png) no-repeat;
    box-sizing: border-box;
    width: 620px;
    height: 310px;
}

.pic6 {
    background: url(ideas6.png) no-repeat;
    box-sizing: border-box;
    width: 620px;
    height: 310px;
}

.pic7 {
    background: url(ideas7.png) no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 310px;
}

.heading {
    font-family: MontserratBold;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: 17px;
    color: #333333;
    margin-bottom: 54px;
}

.qwert {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.qwert h3 {
    margin: 0;
    font-family: MontserratBold;
    color: white;
    letter-spacing: 0px;
    font-size: 22px;
}

.search {
    margin-top: 94px;
    height: 260px;
    text-align: center;
}

.search h3 {
    margin: 0;
    font-family: MontserratBold;
    font-size: 20px;
    letter-spacing: 1px;
    color: #333333;
}

.search h4 {
    margin-top: 18px;
    font-family: Roboto;
    letter-spacing: 0.9px;
    font-size: 16px;
}

.search form {
    margin-top: 37px;
}

.submittype {
    width: 160px;
    margin-left: 7px;
    padding: 12px 15px;
    border-radius: 20px;
    font-family: MontserratBold;
    font-size: 14px;
    color: white;
    border: 0px;
    background: #ff4e50;
}

.texttype {
    width: 230px;
    height: 35px;
}

.texttype::-webkit-input-placeholder {
    padding-left: 10px;
    letter-spacing: 0.2px;
}

footer {
    width: 1440px;
}

.footer {
    width: 940px;
    margin-top: 33px;
    display: flex;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 100px;
}

.company p {
    margin: 0;
    font-family: MontserratBold;
    font-size: 14px;
}

.company a {
    margin: 0;
    text-decoration: none;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0.5px;
    position: relative;
    top: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 15px;
    font-family: MontserratBold;
    color: #ff4e50;
    letter-spacing: 1.5px;
}

@font-face {
    font-family: MontserratBold;
    src: url(MotserratBold.ttf);
}

@font-face {
    font-family: MontserratRegular;
    src: url(MontserratRegular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto.ttf);
}